# This section configures the ingress server
ingress:
  # Configure the certs location
  certs:
    # Automatically generate or fetch certificate based on the mode
    # Following modes are supported
    # - s3: Download certs from AWS S3.
    mode: s3

    # For S3 mode, the certs must be present as ZIP files with domain as the name
    # eg: s3://automations/certs/abc.com.zip
    # The ZIP must follow the following directory structure
    # - abc.com
    #   - cert.pem
    #   - chain.pem
    #   - fullchain.pem
    #   - privkey.pem
    s3:
      path: s3://automations/certs/

# This section configures the dnsmasq server
dns:
  enabled: true

  # Point the following domains to the cluster ingress
  # .ingress.domain is automatically added
  domains:
    - example.com

  # Automatically create route53 entries for the .ingress.domain
  # Following values are supported
  # - route53: Create entry in Route53
  record: route53

  # Configure values for Route53
  route53:
    hosted_zone: DUMMY